.container {
  background-color: #21252d;
}

.title {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 24px;
}
.username {
  font-size: 16px;
  color: white;
  font-weight: normal;
}

.logout {
  font-size: 16px;
  color: #71a202;
  font-weight: normal;
}

.page-content {
  text-align: center;
  margin-top: 32px;
}

.label {
  font-size: 18px;
  color: #888888;
  line-height: 20px;
  text-align: left;
}

.description {
  font-size: 16px;
  color: #aaaaaa;
  line-height: 20px;
  text-align: left;
}
