<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<GridLayout rows="*" class="page">
  <GridLayout row="0" rows="*">
    <BottomNavigation selectedIndex="0">
      <TabStrip>
        <TabStripItem>
          <Label text="Home"></Label>
          <!-- <Image src="font://&#xf015;" class="fas"></Image> -->
        </TabStripItem>
        <TabStripItem class="special">
          <Label text="Account"></Label>
          <!-- <Image src="font://&#xf007;" class="fas t-36"></Image> -->
        </TabStripItem>
        <TabStripItem class="special">
          <Label text="Search"></Label>
          <!-- <Image src="font://&#xf00e;" class="fas t-36"></Image> -->
        </TabStripItem>
      </TabStrip>

      <TabContentItem>
        <StackLayout class="container">
          <StackLayout orientation="horizontal">
            <Label
              text="Hola {{ username }}!"
              textWrap="true"
              class="username"
              width="50%"
              horizontalAlignment="left"
            ></Label>
            <Label
              text="Salir"
              textWrap="true"
              class="logout text-right"
              width="50%"
              horizontalAlignment="right"
              (tap)="onLogoutTapped()"
            ></Label>
          </StackLayout>
          <Label text="Home" textWrap="true" class="title"></Label>
          <StackLayout
            orientation="horizontal"
            class="page-content"
            horizontalAlignment="center"
          >
            <app-custom-card
              image="company"
              title="Empresas"
              path="company"
            ></app-custom-card>
            <app-custom-card
              image="bill"
              title="Facturación"
              path="billing"
            ></app-custom-card>
          </StackLayout>
        </StackLayout>
      </TabContentItem>
      <TabContentItem>
        <GridLayout>
          <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
      </TabContentItem>
      <TabContentItem>
        <GridLayout>
          <Label text="Search Page" class="h2 text-center"></Label>
        </GridLayout>
      </TabContentItem>
    </BottomNavigation>
  </GridLayout>
</GridLayout>
