<GridLayout rows="*" class="page">
  <GridLayout row="0" rows="*">
    <BottomNavigation selectedIndex="0">
      <TabStrip>
        <TabStripItem>
          <Label text="Home"></Label>
        </TabStripItem>
        <TabStripItem>
          <Label text="Mi cuenta"></Label>
        </TabStripItem>
      </TabStrip>

      <TabContentItem>
        <StackLayout class="container">
          <StackLayout orientation="horizontal">
            <Label
              text="Hola {{ username }}!"
              textWrap="true"
              class="username"
              width="50%"
              horizontalAlignment="left"
            ></Label>
            <Label
              text="Salir"
              textWrap="true"
              class="logout text-right"
              width="50%"
              horizontalAlignment="right"
              (tap)="onLogoutTapped()"
            ></Label>
          </StackLayout>
          <Label text="Home" textWrap="true" class="title"></Label>
          <StackLayout
            orientation="horizontal"
            class="page-content"
            horizontalAlignment="center"
          >
            <app-custom-card
              image="company"
              title="Empresas"
              path="company"
            ></app-custom-card>
          </StackLayout>
        </StackLayout>
      </TabContentItem>
      <TabContentItem>
        <StackLayout class="container">
          <Label text="Mi cuenta" textWrap="true" class="title"></Label>
          <StackLayout orientation="horizontal" class="page-content">
            <Label
              width="50%"
              verticalAlignment="bottom"
              text="Usuario: "
              textWrap="true"
              class="label"
            ></Label>
            <Label
              width="50%"
              verticalAlignment="bottom"
              [text]="username"
              textWrap="true"
              class="description"
            ></Label>
          </StackLayout>
          <StackLayout orientation="horizontal" class="page-content">
            <Label
              width="50%"
              verticalAlignment="bottom"
              text="Inicio de sesión: "
              textWrap="true"
              class="label"
            ></Label>
            <Label
              width="50%"
              verticalAlignment="bottom"
              [text]="loginDate"
              textWrap="true"
              class="description"
            ></Label>
          </StackLayout>
        </StackLayout>
      </TabContentItem>
    </BottomNavigation>
  </GridLayout>
</GridLayout>
