<GridLayout rows="*, auto" class="page">
  <StackLayout row="0" class="container">
    <Label
      text="<- Volver"
      textWrap="true"
      class="back"
      (tap)="onBackTapped()"
    ></Label>
    <Label text="Editar Producto" textWrap="true" class="title"></Label>
    <ScrollView height="100%">
      <StackLayout class="page-content" [formGroup]="productForm">
        <Label class="label" text="Descripción"></Label>
        <TextField formControlName="descripcion" class="input"></TextField>
        <Label class="label" text="Código"></Label>
        <TextField
          formControlName="codProducto"
          hint=""
          class="input"
        ></TextField>
        <Label class="label" text="Unidad"></Label>
        <TextField formControlName="unidad" hint="" class="input"></TextField>
        <Label class="label" text="Valor Unitario"></Label>
        <TextField
          formControlName="mtoValorUnitario"
          hint=""
          class="input"
        ></TextField>
      </StackLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout row="1">
    <Button
      class="btn-primary"
      text="Guardar"
      (tap)="onSaveButtonTapped()"
    ></Button>
    <Button
      class="btn-secondary"
      text="Eliminar"
      (tap)="onDeleteButtonTapped()"
    ></Button>
  </StackLayout>
</GridLayout>
