.title {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 24px;
}

.back {
  font-size: 16px;
  color: #71a202;
  font-weight: normal;
}

.page-content {
  margin-top: 32px;
}

.label {
  color: #aaa;
}

.label-file {
  color: white;
  font-size: 18px;
  margin-left: 16px;
}

.input {
  color: white;
}

.btn-primary {
  background-color: #71a202;
  color: white;
  border-radius: 30%;
  margin: 32px;
}

.btn-secondary {
  border-width: 2;
  border-color: #71a202;
  background-color: #21252d;
  color: #71a202;
  border-radius: 30%;
}

.m-y-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
