.container {
  padding: 24px;
}
.title {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 24px;
}
.page-content {
  margin-top: 32px;
}

.btn-primary {
  background-color: #71a202;
  color: white;
  border-radius: 30%;
  margin: 32px;
}

.input {
  color: white;
}

.back {
  font-size: 16px;
  color: #71a202;
  font-weight: normal;
}

.label {
  color: #aaa;
}

.product-detail {
  background-color: #282e39;
  padding: 10px;
}
.product-detail-header {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}
.product-detail-label {
  color: white;
  font-size: 12px;
}
