<GridLayout rows="*, auto" class="page">
  <StackLayout row="0" class="container">
    <Label
      text="<- Volver"
      textWrap="true"
      class="back"
      (tap)="onBackTapped()"
    ></Label>
    <Label text="Emisión" textWrap="true" class="title"></Label>
    <ScrollView height="100%">
      <StackLayout class="page-content" [formGroup]="ticketForm">
        <StackLayout orientation="horizontal">
          <TextField
            width="50%"
            formControlName="tipoDoc"
            class="input"
          ></TextField>
          <Button
            width="50%"
            text="Seleccionar"
            (tap)="onSelectDocumentType()"
          ></Button>
        </StackLayout>
        <StackLayout orientation="horizontal">
          <StackLayout width="50%">
            <Label class="label" text="Serie"></Label>
            <TextField
              hint=""
              formControlName="serie"
              class="input"
            ></TextField>
          </StackLayout>
          <StackLayout width="50%">
            <Label class="label" text="Correlativo"></Label>
            <TextField
              formControlName="correlativo"
              hint=""
              class="input"
            ></TextField>
          </StackLayout>
        </StackLayout>
        <Label class="label" text="Moneda"></Label>
        <StackLayout orientation="horizontal">
          <TextField
            width="50%"
            formControlName="tipoMoneda"
            hint=""
            class="input"
          ></TextField>
          <Button
            width="50%"
            text="Seleccionar"
            (tap)="onSelectCurrency()"
          ></Button>
        </StackLayout>
        <Label class="label" text="Cliente"></Label>
        <StackLayout orientation="horizontal">
          <TextField
            width="50%"
            hint=""
            class="input"
            formControlName="client"
          ></TextField>
          <Button
            width="50%"
            text="Seleccionar"
            (tap)="onSelectClient()"
          ></Button>
        </StackLayout>
        <Label class="label" text="Productos"></Label>
        <Button text="Añadir productos" (tap)="onSelectProduct()"></Button>
        <StackLayout class="product-detail">
          <StackLayout class="" orientation="horizontal">
            <Label width="20%" class="product-detail-header" text="Cód"></Label>
            <Label
              width="25%"
              class="product-detail-header"
              text="Desc"
            ></Label>
            <Label width="20%" class="product-detail-header" text="V.U"></Label>
            <Label
              width="15%"
              class="product-detail-header"
              text="Cant"
            ></Label>
            <Label
              width="20%"
              class="product-detail-header"
              text="V.Ven"
            ></Label>
          </StackLayout>
          <StackLayout
            class="product-detail-item"
            *ngFor="let item of billingDetail"
            orientation="horizontal"
          >
            <Label
              width="20%"
              class="product-detail-label"
              [text]="item.codProducto"
            ></Label>
            <Label
              width="25%"
              class="product-detail-label"
              [text]="item.descripcion"
            ></Label>
            <Label
              width="20%"
              class="product-detail-label text-right"
              text="S/ {{ item.mtoValorUnitario | number: '1.2-2' }}"
            ></Label>
            <Label
              width="15%"
              class="product-detail-label text-right"
              [text]="item.cantidad"
            ></Label>
            <Label
              width="20%"
              class="product-detail-label text-right"
              text="S/ {{ item.mtoValorVenta | number: '1.2-2' }}"
            ></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout row="1">
    <Button
      class="btn-primary"
      text="Guardar"
      (tap)="onSaveButtonTapped()"
    ></Button>
  </StackLayout>
</GridLayout>
