<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Login"></Label>
</ActionBar>

<GridLayout class="page form" rows="auto,*">
  <StackLayout row="0" height="40%" class="v-center">
    <!-- <Image class="m-x-auto" src="res://ic_logo" stretch="none"></Image> -->
    <Label text="Logo" class="text-center c-white" textWrap="true"></Label>
  </StackLayout>
  <StackLayout row="1" class="b-white p-20" width="100%">
    <StackLayout class="input-field">
      <TextField id="userTextField" hint="Nro RUC" class="input"></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <StackLayout class="input-field">
      <TextField
        id="passwordTextField"
        secure="true"
        hint="Password"
        class="input"
        returnKeyType="done"
      ></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <Button
      class="btn btn-primary"
      text="Login"
      (tap)="onLoginButtonTapped()"
    ></Button>
  </StackLayout>
</GridLayout>
