.page {
  background-color: #353561;
  width: 100%;
  height: 100%;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}
.btn-primary {
  background-color: #353561;
  border: 1 solid #353561;
  border-radius: 5;
  font-size: 16;
}

.b-white {
  background-color: white;
}

.c-white {
  color: white;
}

.v-center {
  vertical-align: middle;
}
