.modal-wrapper {
  background-color: white;
}

.title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.description {
  font-size: 14px;
  color: black;
  margin-bottom: 40px;
}

.modal-container {
  margin: 50px;
  border-radius: 20%;
}
